/* Intro section styles */
#introSec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    width: auto;
    padding: 2rem;
    
    .hdr {
        margin-bottom: 1rem;
        font-weight: 700;

        span {
            color: var(--primary-color);
            font-family: 'Barrio', system-ui;
            font-size: 6.5rem;
            letter-spacing: 0.2rem;
        }
    }

    .content {
        margin-bottom: 2rem;

        h1 {
            font-family: 'Metamorphous', serif;
            font-size: 4rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        span {
            color: var(--success-color);
            font-family: 'Marck Script', cursive;
            font-size: 2rem;
            font-weight: 100;
            font-style: italic;
            letter-spacing: 0.2rem;
            margin-bottom: 2rem;
            max-width: 600px;
        }
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        
        span {
            color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
        }
        .highlt {
            color: var(--error-color);
            font-family: 'Metamorphous', serif;
            font-weight: 700;
        }
        .dtls {
            color: var(--primary-color);
            font-style: italic;
            font-weight: 400;
        }
    }
}