/* Slider section styles */
.slider-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 2rem;
}

.slider-part {
    width: 100rem;
    padding: 2rem;
    font-weight: 700;

    span {
        color: var(--text-color);
        font-size: 6.5rem;
    }
}

.swiper {
    width: 100%;
    height: 50rem;
    padding: 2rem;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 2rem;

    h1 {
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 500;
    }
    span {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 100;
        max-width: 600px;
    }
}
