@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --card-bg: #f9f9f9;
  --text-color: #171717;
  --b-shadow: 0.2rem 0.2rem 3.5rem #000000cc;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --card-bg: #1a1a1a;
  --text-color: #ededed;
  --b-shadow: 0.2rem 0.2rem 3.5rem #ffffffcc;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
}




/* =========================================================================================================================================================================================================================================================== */
/* All Custom Styles */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import './header.css';
@import './footer.css';
@import './main.css';
