@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --card-bg: #f9f9f9;
  --text-color: #171717;
  --b-shadow: 0.2rem 0.2rem 3.5rem #000000cc;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --card-bg: #1a1a1a;
  --text-color: #ededed;
  --b-shadow: 0.2rem 0.2rem 3.5rem #ffffffcc;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
}




/* =========================================================================================================================================================================================================================================================== */
/* All Custom Styles */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Style your toggle button */
.theme-toggle-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.8rem;
  background: var(--card-bg);
  color: var(--text-color);
  border: 0rem solid var(--text-color);
  border-radius: 50%;
  box-shadow: var(--b-shadow);
  cursor: pointer;
  z-index: 9999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
  border-bottom: 0.1rem solid var(--text-color);

  .navsec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;

    .navlink {
      margin-left: 2rem;
      text-decoration: none;
      color: var(--text-color);
      transition: color 0.3s ease;

      &:hover {
        color: var(--foreground);
      }
    }
  }
}
.footer {
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;
  border-top: 0.1rem solid var(--text-color);
}
.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}

.main-body {
  min-height: 100vh;
  font-size: 1.6rem;
}
