
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-flow: row wrap;
  background-color: var(--background);
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  z-index: 9999;
}

.logosec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: bolder;
}

.navsec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hdr-bg);
  width: auto;
  height: auto;
  padding: 0.15rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5rem;
  box-shadow: var(--b-shadow);
}

.sesssec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hdr-bg);
  width: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5rem;
  box-shadow: var(--b-shadow);
}




/* ============================================================================================================================================================================================================================================================ */
/* all sub components styles */
/* ============================================================================================================================================================================================================================================================ */

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 5rem;
  transition: color 0.3s ease;

  &:hover {
    background-color: var(--badge-bg);
    color: var(--foreground);
  }
  &.active {
    background-color: var(--badge-bg);
    color: var(--foreground);
  }
}

.navbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.7rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 50%;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--badge-bg);
    color: var(--foreground);
  }
  &.active {
    background-color: var(--badge-bg);
    color: var(--foreground);
  }
}

.navsep {
  width: 0.1rem;
  padding: 1rem 0;
  margin: 0 0.2rem;
  background-color: var(--grey);
  opacity: 0.5;
}