/* Style your toggle button */
.theme-toggle-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.8rem;
  background: var(--card-bg);
  color: var(--text-color);
  border: 0rem solid var(--text-color);
  border-radius: 50%;
  box-shadow: var(--b-shadow);
  cursor: pointer;
  z-index: 9999;
}

/* 404 page style */
.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}

/* Main Body styles */
.main-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 7.5rem 0;
  min-height: 100vh;
  font-size: 1.2rem;
}

/* observer trigger styles */
.header-trigger {
  position: relative;
  height: 0.5rem;
  margin-top: -7.5rem; /* SAME AS HEADER HEIGHT */
}

/* major body styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  width: auto;
  max-width: 100rem;
  padding: 2rem;
}

/* Hero section styles */
.hero-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}


/* Homepage styles */
@import './homepage/introsec.css';
@import './homepage/slidersec.css';
@import './homepage/skillsec.css';
@import './homepage/countersec.css';

/* Aboutpage styles */
@import './aboutpage/aboutheadsec.css';