
.regform {
    display: grid;
    grid-template-columns: 50% 15% 35% ;
    grid-area: marea marea marea;
    /* justify-content: center;
    align-items: center;
    flex-flow: row wrap; */
}
.regform .formsec {
    /* min-width: 20rem; */
    grid-template-areas: marea;
    width: 90%;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.regform .midlsec {
    grid-template-areas: marea;
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;
}
.regform .btnsec {
    grid-template-areas: marea;
    width: 90%;
    /* min-width: 10rem;
    max-width: 20rem; */
}


@media (max-width: 1023px) {
    .regform {
        grid-template-columns: 100%;
        grid-area: marea;
    }
    .regform .formsec {
        grid-template-areas: marea;
    }
    .regform .midlsec {
        grid-template-areas: marea;
    }
    .regform .btnsec {
        grid-template-areas: marea;
    }
}
